.login {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.login {
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #1F1B26, #4D0686);
    background-attachment: fixed;
}

.loginLeft {
    background-color: #1F1B26;
    height: 100vh;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: linear-gradient(45deg, #1F1B26, #4D0686);
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
}

.rightLogin {
    height: 100vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1E1E1E;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.15);
}

.loginTitle {
    font-size: 2rem;
    font-weight: bold;
    color: #9A4DFF;
    margin-bottom: 5px;
    letter-spacing: 2px;
}

.loginWelcome {
    font-size: 1.5rem;
    color: white;
    margin-bottom: 20px;
    font-weight: 300;
}

.loginForm {
    width: 100%;
    max-width: 400px;
}

.inputWrapper {
    margin-bottom: 15px;
    width: 100%;
}

.loginInput {
    width: 92%;
    padding: 15px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
}

.loginInput:focus {
    outline: none;
    border-color: #9A4DFF;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.loginInput:hover {
    transform: scale(1.02);
}

.submitButtonWrapper {
    text-align: center;
    width: 100%;
    /* margin-bottom: 20px; */
}

.loginButton {
    background: linear-gradient(135deg, #9A4DFF, #4D0686);
    color: white;
    padding: 12px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    width: 100%;
    transition: background 0.3s ease, transform 0.2s ease;
}

.loginButton:hover {
    background: linear-gradient(135deg, #4D0686, #9A4DFF);
    transform: translateY(-3px);
}

.signupPrompt {
    margin-top: 20px;
    font-size: 1rem;
    color: white;
}

.signupLink {
    color: #9A4DFF;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.signupLink:hover {
    color: #4D0686;
}

.errorText {
    color: #f1a1a1;
    font-size: 0.75rem;
    margin-top: 5px;
}

.inputWrapper.error .loginInput {
    border-color: #f1a1a1;
    box-shadow: 0 0 0 1px #f1a1a1;
}

.successMessage {
    color: #ffffff;
    background-color: #c3e6cb;
    border: 1px solid #b1dfbb;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.errorMessage {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.messageWrapper {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    border-radius: 5px;
    z-index: 999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.messageWrapper.success {
    color: #ffffff;
    background-color: #34A853;
    border: 1px solid #2c8b3e;
}

.messageWrapper.error {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
}

.messageWrapper.visible {
    opacity: 1;
}

.inputWrapper.error .loginInput {
    border-color: #f1a1a1;
    box-shadow: 0 0 0 1px #f1a1a1;
}

.errorText {
    color: #f1a1a1;
    font-size: 0.75rem;
    margin-top: 5px;
}

.loginButton {
    background: linear-gradient(135deg, #4D0686, #9A4DFF);
    color: white;
    margin-top: 10px;
    padding: 12px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    width: 100%;
    transition: background 0.3s ease, transform 0.2s ease;
}

.loginButton:hover {
    background: linear-gradient(135deg, #4D0686, #9A4DFF);
}

select{
    color: #666;
}

.option::selection{
    background-color: #9A4DFF;
}

@media screen and (max-width: 670px) {
    .loginLeft{
        display: none;
    }
    .rightLogin{
        width: 100vw;
    }
}
